<table id="customers">
    <tr>
        <th>Name</th>
        <th>Type-of-Index</th>
        <th>Open-Price</th>
        <th>Last-Traded-Price</th>
        <th>Has-Changed-Since-Morning-By</th>
        <th>Has-Changed-Since-Morning-Percentage</th>
        <th>Current-Volume</th>
        <th>Stock-Value-in-Bracket-Order</th>
        <th>Margin-given</th>
    </tr>
    <% _.each(data, function(scrip, i) { %>
    <tr>
        <td><%= scrip.symbol%></td>
        <td>
            <% _.each(scrip.typeOfIndex, function(scripIndex, j) { %>
            <%= scripIndex%>,
            <% });%>
        </td>
        <td><%= scrip.open%></td>
        <td><%= scrip.ltP%></td>
        <td><%= scrip.hasChangedBy%></td>
        <td><%= scrip.hasChangedByPercent ? (scrip.hasChangedByPercent + '%') : ''%></td>
        <td><%= scrip.trdVol%></td>
        <td><%= scrip.CoverOneStockFor%></td>
        <td><%= isNaN(scrip.marginProvided) ? '':(scrip.marginProvided + 'x')%></td>
    </tr>
    <% });%>
</table>

