/* styles */
.panel {
    display: none;
}
.is-active {
    display: block;
}
.hotelGrid {
    padding: 0;
    margin-left: 10px;
    list-style-type: none;
}
.hotelGrid--lineElement {
    display: block;
    border-bottom: 1px solid #DCE8F4;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.accordion {
    background-color: #d3ecf8;
    cursor: pointer;
    padding: 13px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 5px;
}
.icon-arrow {
    background-image: url(../images/icon_arrow.png);
    background-repeat: no-repeat;
    display: inline;
}

.icon-open {
    background-image: url(../images/icon_arrow_open.png);
    background-repeat: no-repeat;
    display: inline;
}
.icon-arrow-right {
    background-image: url(../images/icon_arrow_right.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    width: 15px;
}
.txt-left {
    text-align: left;
    display: block;
}

a.active {
    color: orange;
}

nav {
    padding-top: 20px;
}

h2:after {
    content: "";
    position: absolute;
    border-bottom: 4px solid #fb0a36;
    margin-top: 24px;
    margin-left: 10px;
}

.color-blue {
    color: #15a7dc;
}
.txt-lg {
    font-size: 18.75px;
}
.color-gray {
    color: #888;
}
.color-grayDark {
    color: #666;
}
.color-grayDarkest {
    color: #333;
}
.color-greenDark {
    color: #008300;
}
.color-red {
    color: red;
}
.bold {
    font-weight: bold;
}
.mg-lt-md {
    margin-left: 12px;
}
.mg-rt-tiny {
    margin-right: 5px;
}
.ft-h1 {
    font-size: 36px;
}
.ft-h2 {
    font-size: 29px;
}
.ft-lg {
    font-size: 18.75px;
}
.ft-base {
    font-size: 13px;
}

@media (max-width: 375px)  {
    h2:after {
        width: 104px;
    }
}

@media (min-width: 376px) and (max-width: 414px)  {
    h2:after {
        width: 140px;
    }
}
@media (min-width: 415px) and (max-width: 768px)  {
    h2:after {
        width: 495px;
    }
}
@media (min-width: 769px) and (max-width: 1024px)  {
    h2:after {
        width: 750px;
    }
}
@media (min-width: 1025px)  {
    h2:after {
        width: 1165px;
    }
}

.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    margin-right: 5px;
}

.floatRight {
    float: right;
    padding-right: 4px;
}

.paddingBottom {
    padding-bottom: 4px;
    margin-left: -3px;
}

.seeAllHotels {
    margin-top: 15px;
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
}

.seeEachHotel {
    float: left;
    padding-left: 20px;
    padding-bottom: 6px;
}

.imageSpacing {
    margin-right: 2px;
}